page-feedback-form {
    .item-md .item-button{
        height: 45px;
        font-size: 15px;
        margin-top: 30px;
    }

    .no-validation-line .item-inner {
	  box-shadow: none !important;
	}
}
