page-messages {
	.icon{
	font-size:5vw;
	margin-top: 2px;
	}

	.time{
	margin-left: 42%;
	font-size: 11px;
	}

	.header2{
	    padding: 3%;
	}

	.content{
	    padding: 2%;
	}

	.space{
	    margin-top: -3vh;
	}

	#head{
	margin-left: 0%;
    font-size: 3vh;
    white-space: pre-line;
    margin-top: -7vh;
	}

	#con{
	    margin-top: 0vh;
	}
}
